h1 {
  color: blue;
  font-family: "Times New Roman", Times, serif;
}
.list {
  list-style-type: none;
}
p {
  color: blueviolet;
}
li {
  height: 60px;
}

div {
  margin-bottom: 10px;
}
.navbar {
  height: 50px;
}
